<h1 id="title">Please input your card details to submit or refund your payment.</h1>
<div id="dropin-wrapper">
    <div id="checkout-message"></div>
    <div id="dropin-container"></div>
    <button id="submit-button">Submit payment</button>
    <button id="refund-button">Refund payment</button>
</div>
<script>
    var title = document.querySelector("#title")
    var button = document.querySelector('#submit-button');
    var rebutton = document.querySelector('#refund-button');
    //var transID
    braintree.dropin.create({
        authorization: 'sandbox_csyf53wf_c86s6scrc4fk24mc',
        container: '#dropin-container'
    }, function (createErr, instance) {
        button.addEventListener('click', function () {
            instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
                // When the user clicks on the 'Submit payment' button this code will send the
                // encrypted payment information in a variable called a payment method nonce
                $.ajax({
                    type: 'POST',
                    url: '/checkout',
                    data: { 'paymentMethodNonce': payload.nonce }
                }).done(function (result) {
                    // Tear down the Drop-in UI
                    instance.teardown(function (teardownErr) {
                        if (teardownErr) {
                            console.error('Could not tear down Drop-in UI!');
                        } else {
                            console.info('Drop-in UI has been torn down!');
                            // clear page
                            $('#submit-button').remove();
                            $('#refund-button').remove();
                            $('#title').remove();
                        }
                    });
                    if (result.success) {
                        transID = result.transaction.id
                        $('#checkout-message').html(`<h1>Your payment has been submitted succesfully!</h1><h2>Transaction ID: ${result.transaction.id}</h2>`);
                    } else {
                        $('#checkout-message').html(`<h1>There has been an issue with your payment.</h1><p> ${result.message}</p>`);
                    }
                });
            });
        })
        //After implementing the process of submitting a transaction I was unsure with how a refund should be presented then processed. I made the decision
        //to include the option for a refund on the same page as the section to input card details, because it made the most sense for me- hypothetically the refund
        //money would have to be put back into a bank account so it seemed logical for the card details to be inputted again for a refund to be carried out, even
        //if the card details aren't reused in my implementation. 
        rebutton.addEventListener('click', function () {
            instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
                // When the user clicks on the 'Refund payment' button this code will perform the refund of the transaction. I wanted it to be dynamic
                // in the sense that the user could refund the transaction they just submitted. However, I had some difficulties trying to achieve that.
                // I thought passing the id in the post method below would have done it, but that wasn't the case. Right now I just have a fixed Id to be
                // refunded (which has already been refunded in testing) so that is why the message is the same everytime.
                $.ajax({
                    type: 'POST',
                    url: '/refund',
                    //data: { 'transactionID': transID }
                }).done(function (result) {
                    // Tear down the Drop-in UI
                    instance.teardown(function (teardownErr) {
                        if (teardownErr) {
                            console.error('Could not tear down Drop-in UI!');
                        } else {
                            console.info('Drop-in UI has been torn down!');
                            // clear page
                            $('#refund-button').remove();
                            $('#submit-button').remove();
                            $('#title').remove();
                        }
                    });
                    if (result.success) {
                        //<h1>Your transaction (ID : transID) has been refunded succesfully!</h1>
                        $('#checkout-message').html(`<h1>Your payment has been refunded succesfully!</h1><p>Refund ID: ${result.transaction.id}</p>`);
                    } else {
                        $('#checkout-message').html(`<h1>There has been an issue with the refund.</h1> <p>${result.message}</P>`);
                    }
                });
            });
        });
    });
</script>